{% extends 'layout.html' %}
{% block title %}Contatos{% endblock %}
{% block content %}
<h1>Contatos</h1>
<p>Existe um total de <strong>{{ contatos.length }}</strong> contatos em sua agenda!</p>
<p><a href="/contato/new">Inserir contato</a></p>
<ul id="contatos">
 {% for contato in contatos %}
 <li>
 <span>Nome: </span> <b>{{ contato.nome }}</b> <span>Telefone: </span><b>{{ contato.telefone}}</b> <span> Operadora: </span> <b> {{ contato.operadora}} </b> ||
 <a href="/contato/{{ contato.id }}">Ver</a> ||
 <a href="/contato/edit/{{ contato.id }}">Editar</a> ||
 <a href="/contato/delete/{{ contato.id }}">Apagar</a>
 </li>
 {% endfor %}
</ul>
{% endblock %}